.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35b8be;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

p {
  margin-bottom: 10px;
  color: #546285;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

a {
  color: #35b8be;
  text-decoration: underline;
}

li {
  color: #546285;
  font-size: 18px;
}

.banner-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brand {
  margin-right: 40px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-paragraph {
  color: #546285;
  font-size: 18px;
  line-height: 1.34;
  font-weight: 400;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  min-height: 60px;
  padding: 20px 35px;
  border-radius: 6px;
  background-color: #35b8be;
  background-image: url("../images/Button%20Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-size: 18px;
  text-align: center;
}

.button:hover {
  background-color: #2faeb4;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-h1 {
  max-width: 580px;
  margin-bottom: 20px;
  color: #08090a;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-link {
  margin-bottom: 12px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  color: #546285;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #28224b;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.legal {
  color: #353448;
}

.footer-grid {
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.title {
  margin-bottom: 20px;
  color: #08090a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.review-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  white-space: nowrap;
}

.review-text {
  color: #08090a;
  font-size: 16px;
}

.content-grid {
  grid-column-gap: 44px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-grid.margin-top {
  margin-top: 60px;
}

.title-wrap-centre {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 670px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.works-grid {
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.step-image {
  margin-bottom: 40px;
}

.food-image-square {
  overflow: hidden;
  max-height: 120px;
  max-width: 120px;
  min-height: 120px;
  min-width: 120px;
  margin-right: 30px;
  border-radius: 8px;
}

.cta-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #35b8be;
  background-image: url("../images/Pattern%2001.svg");
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.cta-section {
  padding: 3%;
  background-color: transparent;
}

.dark-span {
  color: #1b9097;
}

.tab-menu-round {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-link-round {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 52px;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(97, 114, 131, 0.2);
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
}

.tab-link-round.w--current {
  border-color: rgba(97, 114, 131, 0);
  border-radius: 6px;
  background-color: #35b8be;
  background-image: url("../images/Button%20Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.faq-question-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.faq-content {
  overflow: hidden;
  margin-top: -2px;
}

.footer-legal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(126, 130, 143, 0.09);
  font-size: 15px;
}

.footer-detail-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-detail-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  margin-left: 12px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(126, 130, 143, 0.3);
  border-radius: 100px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-link:hover {
  border-color: rgba(126, 130, 143, 0.86);
}

.social-icon {
  width: 18px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.utility-image {
  margin-bottom: 30px;
}

.utility-paragraph {
  color: #7e828f;
  text-align: center;
}

.link {
  color: #35b8be;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.input-field {
  height: 50px;
}

.cta-heading {
  color: #fff;
  font-size: 55px;
  line-height: 1.1;
}

.paragraph {
  font-size: 16px;
}

.container-tight {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrap-left {
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.header-h4 {
  color: #232936;
  font-size: 30px;
}

.title-grey {
  color: #758ca5;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.legal-text {
  margin-top: 25px;
  text-align: left;
}

.header-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 420px;
  padding: 100px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fbfc;
}

.product-grid {
  grid-column-gap: 44px;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.plain-line {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(53, 184, 190, 0.25);
}

.product-image {
  width: 100%;
  border-radius: 15px;
}

.colour-grid {
  margin-bottom: 100px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.colour {
  display: block;
  overflow: hidden;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 6px 6px 17px 0 rgba(82, 76, 76, 0.06);
}

.colour-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding-left: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.colour-block {
  height: 120px;
  background-color: #35b8be;
}

.colour-block.c8 {
  background-color: #191b22;
}

.colour-block.c9 {
  background-color: #546285;
}

.colour-block.c3 {
  background-color: #ff8946;
}

.colour-block.c2 {
  background-color: #f5fbfc;
}

.style-guide-section {
  padding: 100px 3%;
  background-color: #fff;
}

.colour-hex {
  margin-top: 4px;
  color: #9b9eb8;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.colour-title {
  float: left;
  color: #4e5d78;
  font-size: 16px;
  font-weight: 700;
}

.block {
  margin-bottom: 45px;
}

.highlight-default {
  background-color: rgba(255, 171, 0, 0.23);
}

.block-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.p1 {
  max-width: 600px;
  color: #546285;
  font-size: 18px;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.size-detail {
  margin-left: 8px;
  color: #35b8be;
}

.strikethrough {
  text-decoration: line-through;
}

.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.title-large {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.4;
}

.cursive-text {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  max-width: 500px;
}

.full-details {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-section-short {
  position: relative;
  padding: 60px 3%;
  background-color: transparent;
}

.plus {
  opacity: 0.5;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.additional-details {
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.statistic {
  margin-bottom: 0px;
  color: #fff;
  font-size: 5em;
}

.statistic-block {
  color: #fff;
  text-align: center;
}

.text-block-82 {
  font-size: 20px;
}

.wave {
  margin-top: 20px;
  margin-bottom: 20px;
}

.white-link {
  color: #fff;
  text-decoration: none;
}

.notice-text {
  color: hsla(0, 0%, 100%, 0.8);
}

.banner-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding: 5px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #35b8be;
  background-image: url("../images/Banner%20Wave.svg");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 15px;
}

.search-input {
  margin-bottom: 0px;
}

.search-button {
  background-color: #191b22;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-2 {
  padding: 0px 16px;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #28224b;
  font-size: 16px;
  text-transform: none;
}

.nav-link-2:hover {
  opacity: 1;
  color: #28224b;
}

.nav-link-2.w--current {
  color: #35b8be;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.brand-span-2 {
  color: #35b8be;
}

.scroll-down {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0px;
  -webkit-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.button-2 {
  min-height: 60px;
  padding: 20px 35px;
  border-radius: 6px;
  background-color: #35b8be;
  background-image: url("../images/Button%20Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-size: 18px;
  text-align: center;
}

.button-2:hover {
  background-color: #2faeb4;
}

.button-2.button-space {
  margin-top: 80px;
}

.button-2.button-space.margin-left {
  margin-left: 16px;
}

.button-2.button-space.margin-left.w--current {
  margin-left: 16px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 100px 3% 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/BG%20Shape.svg");
  background-position: 100% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.container-flex-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
}

.hero-image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.link-block {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  text-decoration: none;
}

.link-block:hover {
  border-radius: 8px;
  background-color: rgba(53, 184, 190, 0.05);
}

.content-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.content-section {
  position: relative;
  padding: 140px 3%;
  background-color: transparent;
}

.content-section.zero-bottom-padding {
  padding-bottom: 0px;
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-link-round-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 52px;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(97, 114, 131, 0.2);
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
}

.tab-link-round-2.w--current {
  border-color: rgba(97, 114, 131, 0);
  border-radius: 6px;
  background-color: #35b8be;
  background-image: url("../images/Button%20Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.content-section-bg {
  position: relative;
  padding: 120px 3%;
  background-color: transparent;
  background-image: url("../images/BG%20Shape%20Content.svg");
  background-position: 50% 50%;
  background-size: 96% 90%;
  background-repeat: no-repeat;
}

.order-collection-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.content-block-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-block-data.bg-text {
  background-image: none;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.pattern-2 {
  position: absolute;
  left: -5%;
  top: -5%;
  right: 0%;
  bottom: 0%;
}

.div-block-8 {
  text-align: center;
}

.read-more-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  min-height: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #35b8be;
}

.image-block-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/data-modeller.png");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.field-label-2 {
  color: #191b22;
}

.subscribe-form-input {
  margin-bottom: 0px;
}

.submit-button-2 {
  background-color: #191b22;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.cta-grid-2 {
  min-height: 640px;
  grid-column-gap: 0px;
  grid-row-gap: 22px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 100px 3% 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fbfc;
  background-image: url("../images/Pattern%20Footer.svg");
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

.webflow-link-2 {
  color: #35b8be;
}

.header-section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 420px;
  padding: 20px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fbfc;
}

.header-h1-2 {
  color: #191b22;
}

.collection-item-2 {
  margin-bottom: 20px;
}

.image {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cta-full-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding: 100px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.67), rgba(25, 26, 27, 0.19)), url("../images/community-plain-min.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.faq-question-bar-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-right: 15px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  color: #191b22;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.question-title-2 {
  color: #35b8be;
  font-size: 18px;
  font-weight: 600;
}

.faq-paragraph-2 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #7e828f;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.25px;
}

.content-section---no-bottom-margin {
  position: relative;
  padding: 140px 3% 0px;
  background-color: transparent;
}

.image-block-garden {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/gardens.jpg");
  background-position: 0px 0px;
  background-size: cover;
}

.image-block-water {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/water-modeller.png"), url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon-2 {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #35b8be;
  cursor: pointer;
}

.social-icon-2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.heading-2 {
  text-align: left;
}

.licence-grid-2 {
  margin-bottom: 100px;
  justify-items: stretch;
  grid-row-gap: 31px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.licence-image-2 {
  width: 100%;
  height: 180px;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.legal-text-2 {
  margin-top: 25px;
  text-align: left;
  cursor: pointer;
}

.project-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.iamge {
  width: 100%;
  height: 200px;
}

.food-card-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  min-width: 100%;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
}

.food-card-2:hover {
  border-color: rgba(53, 184, 190, 0.5);
}

.food-image-2 {
  -o-object-fit: fill;
  object-fit: fill;
}

.order-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  min-height: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #35b8be;
}

.card-text {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.food-card-content-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price-2 {
  color: #35b8be;
  font-size: 16px;
  font-weight: 700;
}

.food-title-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 4px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.cta-image-3 {
  background-image: url("../images/stay-in-touch-image.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-3 {
  margin-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.image-3 {
  margin-top: 60px;
}

.container-2 {
  padding-top: 60px;
  padding-bottom: 100px;
}

.heading {
  padding-bottom: 40px;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.food-card---wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 260px;
  padding-top: 10px;
  padding-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
}

.food-card---wide:hover {
  border-color: rgba(53, 184, 190, 0.5);
}

.card-image {
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-text-2 {
  margin-top: 20px;
  color: #35b8be;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.product-grid-2 {
  grid-column-gap: 44px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bold-text {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .icon {
    display: block;
  }

  .navbar {
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: transparent;
  }

  .navigation-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .hero-content {
    width: 100%;
    max-width: 730px;
    margin-bottom: 40px;
    padding-left: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid {
    grid-column-gap: 24px;
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .review-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-grid {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .content-grid.margin-top {
    grid-row-gap: 0px;
  }

  .works-grid {
    max-width: 510px;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .content-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .cta-content {
    min-height: 420px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .tab-link-round {
    margin-bottom: 10px;
  }

  .cta-heading {
    font-size: 55px;
  }

  .title-wrap-left {
    text-align: left;
  }

  .colour-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content-section-short {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .nav-menu-2 {
    margin-right: 0px;
    background-color: #fff;
    box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
  }

  .nav-link-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .menu-button-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 55px;
    min-width: 55px;
    margin-right: 0px;
    margin-left: 14px;
    padding: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(126, 130, 143, 0.1);
  }

  .menu-button-2.w--open {
    background-color: #35b8be;
  }

  .header {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .container-flex-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .hero-image-wrap {
    width: 100%;
    margin-top: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .link-block-4 {
    display: none;
  }

  .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .menu-item {
    width: 100%;
  }

  .tab-link-round-2 {
    margin-bottom: 10px;
  }

  .content-section-bg {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f5fbfc;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .content-block-data {
    max-width: 500px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .cta-grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .content-section---no-bottom-margin {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .licence-grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .cta-image-3 {
    min-height: 420px;
  }

  .heading-3 {
    text-align: left;
  }

  .paragraph-2 {
    text-align: left;
  }

  .heading-4 {
    text-align: left;
  }

  .paragraph-3 {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .food-image-square {
    max-height: none;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .tab-link-round {
    width: 40%;
    text-align: center;
    white-space: nowrap;
  }

  .product-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .colour {
    margin-bottom: 25px;
  }

  .grid-3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .style-guide-h1 {
    font-size: 44px;
  }

  .header {
    padding-bottom: 60px;
  }

  .menu-item {
    width: 50%;
  }

  .tab-link-round-2 {
    width: 40%;
    text-align: center;
    white-space: nowrap;
  }

  .order-collection-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscribe-form {
    padding: 40px 20px;
  }

  .food-card-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .food-title-wrap-2 {
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .food-card---wide {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .product-grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 48px;
  }

  .navbar {
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .button {
    width: 100%;
    max-width: 250px;
  }

  .hero-h1 {
    font-size: 50px;
  }

  .legal {
    margin-right: 0px;
  }

  .footer-grid {
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .review-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cta-content {
    padding: 12px;
  }

  .tab-link-round {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }

  .footer-legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer-detail-left {
    width: auto;
  }

  .cta-heading {
    font-size: 43px;
  }

  .header-section {
    min-height: 500px;
    padding-top: 140px;
  }

  .grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .banner-2 {
    display: none;
  }

  .button-2 {
    width: 100%;
    max-width: 250px;
  }

  .header {
    padding-top: 115px;
  }

  .content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .menu-item {
    width: 100%;
  }

  .tab-link-round-2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .centered-container {
    text-align: left;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .header-section-2 {
    min-height: 500px;
    padding-top: 140px;
  }

  .header-h1-2 {
    font-size: 50px;
  }

  .question-title-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .content-section---no-bottom-margin {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .food-card-2 {
    padding: 16px;
  }

  .food-card---wide {
    padding: 16px;
  }
}

#w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06b7-804f06b4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06bb-804f06b4 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06c6-804f06b4 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06d3-804f06b4 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_96c03116-ad2e-7fd7-5a76-2687e143ae55-3e4700c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a465-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a46e-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a477-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a484-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a48d-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1b966e79-0a85-160e-57cf-a6c90f93a496-d34700cb {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06b7-804f06b4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06c6-804f06b4 {
    -ms-grid-column-span: 1;
    grid-column-end: 6;
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06b7-804f06b4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06bb-804f06b4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06c6-804f06b4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06d3-804f06b4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06b7-804f06b4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06bb-804f06b4 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06c6-804f06b4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_6d7d0a60-b66e-4455-d59b-a07a804f06d3-804f06b4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}
@font-face {
  font-family: 'Inter';
  src: url('../images/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../images/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../images/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../images/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}